################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/sample-blob-storage-trigger-app/source/.vs/Sample.Backend.Playground/DesignTimeBuild/.dtbcache.v2
